body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: cornflowerblue;
}

#main-play-area {
    background-color: black;
    background-image: url(img/space.png);
    height: 600px;
    width: 600px;
}

.game-instructions {
    position: relative;
    color: white;
    left: 7rem;
    top: 0px;
}

.start-button {
    position: relative;
    color: white;
    top: 9rem;
    left: 15rem;
    cursor: pointer;
}

.player-shooter {
    position: relative;
    height: 60px;
    width: 70px;
    left: 20px;
    top: 250px
}

.laser {
    position: relative;
    width: 40px;
    height: 30px;
}

.alien {
    height: 60px;
    width: 70px;
    position: relative;
}

.alien-transition {
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.dead-alien {
    height: 60px;
    width: 70px;
    position: relative;
    opacity: 0;
}
.score{
   font-size: 20px;
   margin: 10px;
   font-style:initial;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   position: relative;
   right: 250px;
   height: 600px;
   width: 600px;

}
.comands{
    font-size: 20px;
    margin: 10px;
    font-style:initial;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    display: flex;
    flex-direction:row;
    align-items: center;
    
 }
 .comands1 {
    margin-top: 0;
    margin-right: 10px;
 }
 .comands2 {
    margin-top: 0;
    margin-left: 10px;
 }



